- wrap_layout :home_layout do
	%nav
		- index_of_this_page = projects.index(current_resource)
		- if index_of_this_page
			- if index_of_this_page - 1 >= 0
				= link_to '', projects[index_of_this_page - 1], :title=>"Previous Project", :id=>'previous'
			- if index_of_this_page + 1 < projects.length
				= link_to '', projects[index_of_this_page + 1], :title=>"Next Project", :id=>'next'
		
	%article
		%h2= current_page.data.title
		.subheading= "#{current_page.data.category.titleize}, #{current_page.data.year}"
		= yield
