---
title: Hello
description: I'm Salim, and I just graduated from my Master's in Human-Computer Interaction at Carnegie Mellon University. Please take a look at my work.
---

	
%p
	I'm Salim, and I'm currently designing and developing great things at 
	%a{:href=>'http://www.anghami.com', :target=>'_blank'} Anghami.
	Recently graduated in Human-Computer Interaction from Carnegie Mellon.
	Please take a look at my work below.

#projects
	- grouped_projects.each do |category, pages|
		%h3= category
		- pages.each do |page|
			- link_to page, :class=>'project' do
				%img{:src=>'/images/projects/'+page.data["title"].parameterize+'.jpg'}
				%h4= page.data["title"]
				%p
					= page.data["description"]
					%span.date= page.data["year"]

.more_projects
	= link_to 'More Projects ›', 'more-projects'