---
title: More Projects
description: I appreciate your interest in seeing more! Here are more projects that could not find room in the home page.
---

%h2 More Projects
%p
	I appreciate your interest in seeing more! These are great projects that could not find room in the home page.
	= link_to 'Back', '/'

#projects
	
	- more_grouped_projects.each do |category, pages|
		%h3= category
		- pages.each do |page|
			- link_to page, :class=>'project' do
				%img{:src=>'/images/projects/'+page.data["title"].parameterize+'.jpg'}
				%h4= page.data["title"]
				%p
					= page.data["description"]
					%span.date= page.data["year"]

.more_projects
	= link_to '‹ Back', '/'